body,
.post-title,
.entry-title{
    font-family: "Helvetica Neue", "Myriad Pro", Arial, sans-serif !important;
}
#navbar{
    display: none !important;
}
p{
    line-height: 1.3rem !important;
}
a:link, a:visited{
    color: #0085e4 !important;
}
a:hover{
    color: #0085e4 !important; /* #e45f00 */
    text-decoration: underline !important;
}
h1 a:link, h1 a:visited, h1 a:hover{
    color: #333333 !important;
}
pre, blockquote{
    margin-left: 40px;
    margin-right: 20px;
    padding:0 10px;
    color: #777777;
    border-left: 3px solid #cccccc;
}
h4{
    font-weight: normal;
    font-size: 16px;
    margin-top: 1.5em;
}
ul{
    padding-right: 0 !important;
}
.post-body img,
.post-body iframe, 
.post-body object,
.post-body embed{
	display: block;
	margin: 20px auto;
}

.content-inner{
    padding: 0;
}

h1, h2, h3, h4, h5{
	font-weight: normal;
    font-family: "Helvetica Neue", "Myriad Pro", Arial, sans-serif !important;
    text-transform: none;
}
.entry-content h2{
    font-size: 1.4rem;
    margin: 1rem 0 0rem 0;
}
.date-header span {
    letter-spacing: normal !important;
    font-size: 1rem;
    padding-left: 0 !important;
}
.header{
    padding-left: 20px !important;
    padding: 10px 0;
}
.fauxcolumn-left-outer{
    background-color: #373737;
    border-right: solid 1px #999999;
}
.main-inner{
    padding: 0px;
    background-color: #ffffff;
}
.column-left-outer{
    padding-top: 10px;
}
.column-center-outer{
    padding: 20px 0;
}
.footer{
    background-color: #222222;
}
.change-something